#footer{
    padding-top:6rem;
    padding-bottom:6rem;
    p{
        color:#FFF;
        font-size:.875rem;
    }
    h5{
        color:#FFF;
        font-size:.875rem;
        margin-bottom:1.25rem;
    }
    ul{
        padding:0;
        list-style-type: none;
        li{
            margin-bottom:.5rem;
            a{
                color:#FFF;
                font-size:.875rem;
                &:hover{
                    color:#83b735;
                }
            }
        }
    }
}
#copy{
    border-top:1px solid #FFF;
    padding:2rem 0;
    color:#FFF;
    font-size:.875rem;
    a{
        color:#FFF;
        &:hover{
            color:#83b735;
        }
    }
}