#header{
  background-image: url("assets/img/background.jpg");
  background-repeat: no-repeat;
  background-color:#000;
  background-position: center center;
  height:1660px;
  position:relative;
  .logo{
    max-width: 300px;
  }
  .navbar-fixed{
    background-color:#FFF;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
  }

  nav{
    .navbar-nav{
      .nav-item{
        .nav-link{
          padding-left:0.75rem;
          padding-right:0.75rem;
          color:#3e6d76;
          font-weight: 500;
          font-size:14px;
          &:hover{
            color:#feee00;
          }
        }
      }
      .btn-loja{
        background-color:#db7100;
        border:1px solid #db7100;
        margin-left:1rem;
        .nav-link{
          color:#FFF;
          &:hover{
            background-color:#FFF;
            color:#db7100;
          }
        }
      }
    }
  }

  .nav-bottom{
    padding-right:1rem;
    color:#3e6d76;
    font-weight: 500;
    font-size:14px;
    a{
      position: relative;
      i{
        color:#3e6d76;
        font-size:14px;
      }
      .qtd{
        position: absolute;
        background-color:#FFF;
        border-radius: 50%;
        font-size:.5rem;
        top:-5px;
        right:-5px;
        color:#635e9f;
        width:12px;
        text-align:center;
      }
    }
  }

  .banner{
    padding-top:5rem;
    h1{
      font-family: 'Beth Ellen', sans-serif;
      color:#2e4252;
    }
    
  }

  .local{
    position:absolute;
    width:80px;
    .plus{
      max-width: 40px;
      &:hover{
        cursor: pointer;
      }
    }
    .box-local{
      display:none;
      position:absolute;
      background-color:#FFF;
      width:250px;
      padding:.75rem;
      z-index:10;
      img{
        margin-bottom:1rem;
      }
      h5{
        margin-bottom:1rem;
        font-weight:600;
        font-size:14px;
        text-align:center;
      }
      p{
        text-align:center;
        font-size:14px;
      }
    }

    &.velorio{
      top:870px;
      left: 48%;
      .box-local{
        top: -150px;
        right: 90px;
      }
    }
  
    &.loja{
      top:1250px;
      left: 35%;
      .box-local{
        top: -150px;
        left: 60px;
      }
    }

    &.estacionamento{
      top:1100px;
      left: 68%;
      .box-local{
        top: -150px;
        right: 90px;
      }
    }

    &.capela{
      top:900px;
      left: 74%;
      .box-local{
        top: -150px;
        right: 90px;
      }
    }

    &.velario{
      top:740px;
      left: 56%;
      .box-local{
        top: -150px;
        right: 90px;
      }
    }

    &.portaria{
      top:1080px;
      left: 20%;
      .box-local{
        top: -150px;
        left: 60px;
      }
    }
  }
}