#content{
   .home-options{
       margin-bottom:6rem;
       .box{
            background-color:#FFF;
            padding:3rem;
            text-align:center;
            h5{
                font-size:1rem;
                color:#898989;
                text-align:center;
                font-weight: normal;
                margin-bottom:1rem;
            }

            h2{
                color:#2d2a2a;
                font-weight: bold;
                text-align:center;
                margin-bottom:1rem;
            }

            a{
                color:#2d2a2a;
                display:inline-block;
                margin-top:3rem;
                font-size:1.125rem;
                padding-bottom:.25rem;
                font-weight: 600;
                border-bottom:3px solid #FFF;
                &:hover{
                    border-bottom:3px solid #438e44;
                }
            }
       }
   }
   .home-galeria{
       margin-bottom:6rem;
   }
   .home-produtos{
       h2{
           margin-bottom:0;
           color:#FFF;
       }
       .cat{
           list-style-type: none;
           padding:0;
           margin-bottom:0;
           padding-top:.5rem;
           li{
               display:inline-block;
               margin-left:1.5rem;
               a{
                   color:#FFF;
                   font-size:.875rem;
                   &:hover{
                   }
               }
           }
       }
   }
}